.wrapper {
    width: 80%;
    margin: 5% auto;
}

.wrapper--no-margin {
    width: 80%;
    margin: 0 auto;
}

.wrapper--modal {
    width: 90%;
    margin: 0 auto;
}

@media (min-width:530px) {
    .wrapper--modal {
    width: 40%;
    margin: 2% auto;
}
}

.wrapper--menu {
    width: 90%;
    margin: 0 auto;
}
