.get-a-quote {
    width: 100%;
    height: 50vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & h2 {
        margin-right: 0;
        transform: translateY(100%);
       

        @mixin at530 {
            margin-right: 40px;
            transform: translateY(-10%);
            min-width: 250px;
        }
    }
    
    & a{
        transform: translateY(-100%);
        
        @mixin at530{
            transform: translateY(0);
        }
    }
}
