.primary-nav {
    padding-top: 10px;

    @mixin at778 {
        padding-top: 0;
       
    }

    &--pull-right {
        @mixin at778 {
            /*            float: right;*/

            /*            edited by naif on 6/6     */
            /* by naif 6/6 */
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix
    }

    li {
        list-style: none;
        display: inline-block;
        padding-right: 7px;

        @mixin at778 {
            float: left;
            display: block;
            padding-right: 20px;
        }
    }

    li:last-child {
        padding-right: 0;

        @mixin at778 {
            padding-right: 20px;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 300;
        display: block;
        padding: 5px 8px;
        font-size: 0.8rem;
        background-color: rgba($mainGreen, .5);

        @mixin at778 {
            padding: 12px 0;
            font-size: 1rem;
            background-color: transparent;

            &.is-current-link {
                color: #fabb69;
            }
        }
    }
}
