.our-products {
    display: block;

    @mixin at530 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &--inner {
        flex-basis: 25%;
    }
}
