.video-area {
    display: block;
    background: $mainBlue;
    padding: 5%;

    @mixin at530 {
        background: url('../../assets/images/curtains.jpg') center center no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;

    }

    &--inner {
        min-width: 250px;
        width: 90%;
        margin: 8% auto;

        @mixin at530 {
            min-width: 400px;
            flex-basis: 22%;
            background-color: rgba(255, 255, 255, 0.6);
            padding: 2%;
            border-radius: 5px;
            margin: 0 auto;
        }
    }

    &--ul li {
        padding-bottom: 2.5%;
    }

}
